<!DOCTYPE html>
<html>
    <head>
        <meta lang="ja" charset="utf-8">
        
        <title>scrumble</title>
    </head>
    <body>
        <div class="container">
            <h1>scrumble</h1>
            <form method="get" action="../content/pbl">
                <button type="submit" class="btn btn-primary">ProductBacklog</button>
            </form>
            <form method="get" action="../content/sbl">
                <button type="submit" class="btn btn-primary">SprintBacklog</button>
            </form>
            <form method="get" action="../content/team">
                <button type="submit" class="btn btn-primary">TeamEdit</button>
            </form>
        </div>
    </body>
</html>