<!DOCTYPE html>
<html>

<head>
    <meta lang="ja" charset="utf-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../assets/javascripts/button.js"></script>
    <title>scrumble</title>
</head>

<body>
    <script>
        funtion(){
            $('#menu_pbl').click(fuction(){
                alert();
                $('"main_menu').attr({
                    'action':'../content/pbl',
                    'method':'get'
                })
                $('main_menu').submit();
            });
        }
    </script>
    <div class="container">
        <h1>scrumble</h1>
        <div>
            <form action="/" method="post" id="main_menu">
                <button id="menu_pbl" class="btn btn-primary">ProductBacklog</button>
                <button id="menu_sbl" type="submit" class="btn btn-primary">SprintBacklog</button>
                <button id="menu_team" type="submit" class="btn btn-primary">TeamEdit</button>
            </form>
        </div>
    </div>
</body>

</html>